@mixin flex-cont($direction, $width, $height) {
    @include center-flex();
    @include set-dim($width, $height);
    flex-direction: $direction;
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bg-img($imgurl, $width, $height) {
  background-image: url($imgurl);
  background-position: center;
  background-size: $width $height;
  background-repeat: no-repeat;
}

@mixin default-flex($direction, $width, $height){
    @include set-dim($width, $height);
    display: flex;
    flex-direction: $direction;
}

@mixin set-dim($width, $height) {
    width: #{$width};
    height: #{$height};
}

@mixin create-grid($cols, $rows){
  display: grid;
  grid-template-columns: map-to-fractions($cols);
  grid-template-rows: map-to-fractions($rows);
}

@function map-to-fractions($list){
  $fractions: ();
  @each $item in $list {
    $fraction: 100% * $item / sum($list);
    $fractions: append($fractions, $fraction);
  }
  @return $fractions;
}

@function sum($list) {
  $total: 0;
  @each $item in $list {
    $total: $total + $item;
  }
  @return $total;
}


