// App palette
$background: black;
$background-75: rgba(0, 0, 0, .75);
$background-66: rgba(0, 0, 0, .66);
$darkGray: rgba(29,27,27, 1);
$fadedPurple: rgba(75, 56, 76, 1);
$lighterPurple: rgba(125, 91, 166, 1);
$lightest: rgba(159, 139, 181, 1);

