@import '../../styles.scss';

#root {
    position: absolute;
    @include set-dim(100vw, 100vh);
    @include create-grid((1), (1, 8, 1));
    .row-cont {
        &#menu {
            grid-row: 1;
            @include flex-cont(row, 100%, 100%);
        }
        &#footer {
            grid-row: 3;
            @include flex-cont(row, 100%, 100%);
        }
    }
    #main {
        @include bg-img($imgBg, 100vw, auto);
        @include create-grid((5, 2, 4), (1));
        background-position: 0 -50vh;
        grid-row: 2;
        #tips-display {
            background-color: $background-66;
            grid-column: 3;
            p {
                margin-left: 1rem;
            }
            @include create-grid((1), (2, 8));
            #tips-header {
                grid-row: 1;
                @include flex-cont(row, 100%, 100%);
            }
        }
    }
}
